.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px; 
  text-align: center; 
}

.close {
  color: #aaaaaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.star-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; 
}

.star {
  font-size: 50px;
  cursor: pointer;
  color: grey;
}

.filled {
  color: gold;
}


.comment-container {
  margin-bottom: 20px;
}

.comment-label {
  display: block;
  margin-bottom: 10px; 
}

.comment-textarea {
  width: 100%;
  height: 250px; 
  resize: vertical; 
}

.comment-label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px; 
}

.comment-textarea {
  width: 100%;
  height: 250px; 
  resize: vertical;
  font-size: 16px; 
}

.close-button {
  background-color: #f44336; 
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px; 
}

.close-button:hover {
  background-color: #d32f2f; 
}


.submit-button {
  background-color: #4caf50; 
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
}